<% content_for :css do %>
	<%= stylesheet_link_tag "tt-home" %>
<% end %>

<div id="title">
	<h2 id="title-label" class="tt-title-label"><%=@title %></h2>
	<input type="text" id="title-input" class="tt-title-input span5" value="<%=@title %>">
</div>

<form id="newentry" class="tt-newentry">
	<header class="row-fluid">
		<div class="span2">Day</div>
		<div class="span2">Time</div>
		<div class="span4">Description</div>
		<div class="span2">Type</div>
	</header>
	<div class="row-fluid tt-newentry-fields">
		<div id="newentry-workdate" class="tt-newentry-workdate span2" data-date="<%=Time.now.to_formatted_s(:simple_date) %>">
			<span class="tt-newentry-workdate-label label label-success">Today</span>
			<input type="text" class="input-small" value="<%=Time.now.to_formatted_s(:simple_date) %>">
		</div>
		<div class="span2 clearfix">
			<input type="text" id="newentry-time" class="input-small" placeholder="2h 15m">
		</div>
		<div class="span4 clearfix">
			<input type="text" id="newentry-desc" class="input" placeholder="Redesigning icons... again.">
		</div>
		<div class="span2 clearfix">
			<input type="text" id="newentry-tags" class="input-small" placeholder="graphics">
		</div>
		<div class="span1">
			<button id="newentry-btn" class="btn btn-small btn-primary">Add</button>
		</div>
	</div>
</form>

<div id="entries" class="tt-entries tt-entries-edit">
	<section class="tt-entry-group">
		<h2>Today</h2>
		<p>No entries added yet.</p>
	</section>
</div>

<% content_for :after do %>
<aside id="extras" class="tt-extras">
	<section id="summary" class="tt-extras-section tt-summary tt-shadow">
		<h3>Total Time</h3>
		<div class="tt-summary-time"></div>
	</section>
	
	<section id="invoices" class="tt-shadow tt-extras-section tt-expand tt-invoices">
		<% if(@invoices.count == 0) %>
		<h3>Invoices</h3>
		<% else %>
		<h3>Invoices <span class="tt-invoices-count">(<%=@invoices.count %>)</span></h3>
		<ul class="unstyled tt-expand-reveal tt-invoices-list">
			<% @invoices.each do |invoice| %>
			<li class="tt-corner-all">
				<a href="/<%="#{@username}/#{@slug}/invoices/#{invoice.rank}" %>" target="_blank"><%=invoice.title %></a>
				<!--<a href="javascript:void(0)" class="close" title="Delete Invoice">&times;</a>-->
			</li>
			<% end%>
		</ul>
		<% end %>
		<a href="/<%="#{@username}/#{@slug}/#{@token}" %>/invoices/new" class="btn btn-primary btn-small tt-expand-reveal-inline">Add</a>
	</section>

	<section id="export" class="tt-shadow tt-extras-section tt-expand tt-export">
		<h3>Export</h3>
		<form action="/<%="#{@username}/#{@slug}/#{@token}" %>/export" method="GET" class="tt-expand-reveal">
			<input id="export-btn" type="submit" class="btn btn-primary btn-small" value="Export Entries" />
		</form>
	</section>
</aside>
<% end %>

<% content_for :js do %>
	<%= javascript_include_tag "components/tt-home" %>
	<script>
		$(function() {
			TinyTime.Manager({
				components: {
					title: TinyTime.Title(),
					newentry: TinyTime.NewEntry(),
					entries: TinyTime.Entries(),
					timer: TinyTime.Timer()
				}
			}).init();
		});
	</script>
<% end %>