<div id="admin-users">
	<header class="admin-header">
		<h1>TinyTime Accounts</h1>
	</header>

	<a href="/admin/users/new" class="btn">Add Account <i class="icon-circle-arrow-right"></i></a>

	<table id="admin-users-table" class="table table-bordered table-striped">
		<thead>
			<tr>
				<th></th>
				<th>Username</th>
				<th>Projects</th>
				<th>Date Created</th>
			</tr>
		</thead>
		<tbody>
			<% 
				@i = 0
				@users.each do |user|
				@i += 1 
			%>
			<tr<%=' class=signedup' if user.claimed? %>>
				<td><%=(@offset + @i) %>.</td>
				<td><a href="<%=admin_user_url(user) %>"><%=user.username %></a></td>
				<td><span class="label"><%=user.num_instances %></span></td>
				<td><%=user.created_at.to_formatted_s(:simple_date) %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<%= paginate @users %>
</div>