<!DOCTYPE html>
<html>
<head>
	<title>TinyTime | Drive-by time-tracking</title>
	<%= include_stylesheets :all, :media => "all" %>
	<%= csrf_meta_tag %>
</head>
<body>
	<div id="container">
		<header id="header" class="topbar">
			<div class="topbar-inner">
				<div class="container">
					<h3>TinyTime<span>alpha</span></h3>
					<div class="tt-header-notice">Saving...</div>
				</div>
			</div>
		</header>
		<div id="content" class="container" data-token="<%=@token %>">
			<div id="content-inner" class="tt-shadow-big">
				<%= yield %>
			</div>
			<aside id="summary" class="tt-summary tt-shadow">
				<h3>Total Time</h3>
				<div class="tt-summary-time"></div>
			</aside>
		</div>
	</div>
	<%= include_javascripts :all %>
	<script>
		$(function() {
			var m = TinyTime.Manager({
				components: {
					title: TinyTime.Title(),
					newentry: TinyTime.NewEntry(),
					entries: TinyTime.Entries()
				}
			}).init();
		});
	</script>
</body>
</html>
