<!DOCTYPE html>
<html>
<head>
	<title>TinyTime | Drive-by time-tracking</title>
	<%= include_stylesheets :all, :media => "all" %>
	<%= yield :css %>
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/images/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="/images/tt-logo-32.png" />
	<%= csrf_meta_tag %>
</head>
<body>
	<div id="container">
		<header id="header" class="topbar">
			<div class="topbar-inner">
				<div class="container">
					<h3><a href="/">TinyTime<span>beta</span></a></h3>
					<ul class="nav">
						<li<%=(' class=active' if @active_nav == "about")%>><a href="/about">About</a></li>
						<% if (@user != nil) %>
						<li><a href="<%="/#{@user.username}" %>">New Project</a></li>
						<% end %>
					</ul>
					<ul class="nav secondary-nav">
						<% if(@logged_in) %>
						<li><a href="/logout">Log Out</a></li>
						<% else %>
						<li><a href="/signup">Sign Up</a></li>
						<li><a href="/login">Log In</a></li>
						<% end %>
						<% if (@user_instances != nil && @user_instances.count > 0) %>
						<li class="dropdown" data-dropdown="dropdown">
							<a href="javascript:void(0)" class="dropdown-toggle">Recent Projects</a>
							<ul class="dropdown-menu">
								<% @user_instances.each do |instance| %>
								<li>
									<a href="/<%="#{@username}/#{instance.slug}/#{instance.token}" %>">
										<%=(instance.name == nil ? "Untitled - (" + instance.created_at.to_formatted_s(:simple_date) + ")" : instance.name) %>
									</a>
								</li>
								<% end %>
							</ul>
						</li>
						<% end %>
					</ul>
					<div class="tt-header-notice">Saving...</div>
				</div>
			</div>
		</header>
		<div id="content" class="container" data-username="<%=@username %>" data-slug="<%=@slug %>" data-token="<%=@token if @editable %>">
			<div id="content-inner" class="tt-shadow-big">
				<%= yield %>
			</div>
			<%= yield :after %>
		</div>
	</div>
	<%= include_javascripts :all %>
	<%= yield :js %>
</body>
</html>
